/* Style the video: 100% width and height to cover the entire window */

  
  /* Add some content a t the bottom of the video/page */
#myVideo{
    width: 100%    !important;
    /* height: 20%  !important; */
    /* height: calc(100vh - 60px) !important; */
}
  .containerV { 
      position:relative; 
      text-align: center;
      /* text-shadow: 1px 1px #4d4d4d */
      margin-bottom: -5px;
      margin-top:10px;
    
    }
  .containerV video {
      position:relative;
      z-index:0;
    
  }
  .content {
      position:absolute;
      top:0;
      left:0;
      z-index:1;
      width: 100%;
      margin: auto;
      margin-top: 250px;
      color: white;
  }